.review__error__message {
  padding-top: 3px;
  text-align: center;
  color: white;
  background-color: #ff4a4a;
}

.login__error__message {
  position: absolute;
  width: 100%;
  margin-block: -24px;
  text-align: center;
  color: #ff4a4a;
}
